/* Estilos para colores */
h3{
    color: red;
    font-size: 40px;
}

.color-hexadecimal{
    color: #FF8200;
    font-size: 20px;
    font-weight: bold;
}

.color-rgb{
    color: rgb(100, 0, 200);
    font-size: 20px;
    font-weight: bold;
}

.color-rgba{
    color: rgba(100, 0, 200, 0.80);
    font-size: 20px;
    font-weight: bold;
}
/* Fondos */

.fondo-internet{
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=360");
    background-size: center center;
}

.fondo-interno{
    background-image: url("imagenes/background.jpg");
    background-position: left right;
}